@charset "UTF-8";
header>nav>ul{
	
	display:flex;
	list-style:none;
	justify-content:space-between;
	margin:0;
	padding:0;
}
li>a{
	
	font-size:30px;
	font-weight:bolder;
	text-decoration:none;
	color:yellow;
}
section{
	width:100%;
	height:500px;
	overflow:outo;
}
footer{
	text-align:center
}